html {
  color-scheme: dark;
}

body {
  color: #eee;
  font-size: 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

table {
  border-collapse: collapse;
  background-color: #323232;
  width: 100%;
}

th,
td,
caption {
  padding: 1rem;
}
caption,
th {
  text-align: left;
}

caption {
  background: hsl(0 0% 0%);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(even) {
  background-color: hsl(0 0% 0% / 0.1);
}

@media (max-width: 650px) {
  /* un ottimo modo per far diventare responsive mobile una tabella è nascondere l'header sotto una certa larghezza di risoluzione */
  th {
    display: none;
  }

  /* e fare in modo che le celle di ogni riga assumano un comportamento block, in modo da andarsi a disporre verticalmente una sotto l'altra */
  td {
    display: block;
    padding: 0.5rem 1rem;
  }

  /* primo elemento td di ogni riga */
  td:first-child {
    padding-top: 1rem;
  }

  /* ultimo elemento td di ogni riga */
  td:last-child {
    padding-bottom: 1rem;
  }

  /* utilizzando la pseudoclass ::before sui td e la proeprty content: attr() possiamo mostrare qualcosa prima del valore della cella */
  /* in questo caso utilizziamo il valore dell'attributo data-cell per mostrarlo prima del dato del td */
  td::before {
    /* con una stringa successiva aggiungiamo testo a quello che viene mostrato col content */
    content: attr(data-cell) ': ';
    font-weight: 700;
    /* prima lettera di ogni parola in maiuscolo */
    text-transform: capitalize;
  }
}
